@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Lexend', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: radial-gradient(hsl(220deg 17% 17% / 82%) .5px,hsla(220 17% 17%/1) .5px);
  background-size: 5px 5px;
}

#__next {
  width: 100%;
}
